[submodule "we_crease_from_seam"]
	path = we_crease_from_seam
	url = git@github.com:Korchy/1d_we_crease_from_seam.git
[submodule "material_select"]
	path = material_select
	url = git@github.com:Korchy/1d_material_select.git
[submodule "subd_tool"]
	path = subd_tool
	url = git@github.com:Korchy/1d_subd_tool.git
[submodule "delaunay_1d_shot"]
	path = delaunay_1d_shot
	url = git@github.com:Korchy/delaunay_1d_shot.git
[submodule "drawing_split"]
	path = drawing_split
	url = git@github.com:Korchy/1d_drawing_split.git
[submodule "edges_length"]
	path = edges_length
	url = git@github.com:Korchy/1d_edges_length.git
[submodule "height_painter"]
	path = height_painter
	url = git@github.com:Korchy/1d_height_painter.git
[submodule "stairs_sketcher"]
	path = stairs_sketcher
	url = git@github.com:Korchy/1d_stairs_sketcher.git
[submodule "retuber"]
	path = retuber
	url = git@github.com:Korchy/1d_retuber.git
[submodule "vitragen"]
	path = vitragen
	url = git@github.com:Korchy/1d_vitragen.git
[submodule "vertical_vertices"]
	path = vertical_vertices
	url = git@github.com:Korchy/1d_vertical_vertices.git
[submodule "vertical"]
	path = vertical
	url = git@github.com:Korchy/1d_vertical.git
[submodule "quad_bridge"]
	path = quad_bridge
	url = git@github.com:Korchy/1d_quad_bridge.git
[submodule "f2_snake"]
	path = f2_snake
	url = git@github.com:Korchy/1d_f2_snake.git
[submodule "deloop"]
	path = deloop
	url = git@github.com:Korchy/1d_deloop.git
[submodule "slope_loop"]
	path = slope_loop
	url = git@github.com:Korchy/1d_slope_loop.git
[submodule "contour_sew"]
	path = contour_sew
	url = git@github.com:Korchy/1d_contour_sew.git
[submodule "planar_edges"]
	path = planar_edges
	url = git@github.com:Korchy/1d_planar_edges.git
[submodule "connect_loop"]
	path = connect_loop
	url = git@github.com:Korchy/1d_connect_loop.git
