[submodule "we_crease_from_seam"]
	path = we_crease_from_seam
	url = git@github.com:Korchy/1d_we_crease_from_seam.git
[submodule "material_select"]
	path = material_select
	url = git@github.com:Korchy/1d_material_select.git
[submodule "subd_tool"]
	path = subd_tool
	url = git@github.com:Korchy/1d_subd_tool.git
[submodule "delaunay_1d_shot"]
	path = delaunay_1d_shot
	url = git@github.com:Korchy/delaunay_1d_shot.git
[submodule "drawing_split"]
	path = drawing_split
	url = git@github.com:Korchy/1d_drawing_split.git
[submodule "edges_length"]
	path = edges_length
	url = git@github.com:Korchy/1d_edges_length.git
